<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/billiard.css">
    <title>Schedule Generator</title>
</head>
<body>
    <div id="app">
        <!-- 電腦版報名表 -->
        <div id="computer_version" class="container minsize" v-show="register_is_display && computer_is_display">
            <div style="height: 10vh;"></div>
            <div class="row">
                <div class="col-4" style="text-align: center;">
                    <h2><strong>最大參賽人數</strong></h2>
                    <hr>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 80%;">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked v-on:click="change_people(2)">
                        <label class="btn btn-outline-secondary" for="btnradio1"><strong>2</strong></label>
                        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" v-on:click="change_people(4)">
                        <label class="btn btn-outline-secondary" for="btnradio2"><strong>4</strong></label>
                        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" v-on:click="change_people(8)">
                        <label class="btn btn-outline-secondary" for="btnradio3"><strong>8</strong></label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" v-on:click="change_people(16)">
                        <label class="btn btn-outline-secondary" for="btnradio4"><strong>16</strong></label>
                    </div>
                    <div style="height: 5rem;"></div>
                    <h2><strong>建議參賽人數</strong></h2>
                    <hr>
                    <h3 style="color: gray;">{{suggest_people}}</h3>
                </div>
                <div class="col-4" style="text-align: center;">
                    <h1><strong>請輸入參賽者名稱</strong></h1>
                    <div style="height: 2vh;"></div>
                    <input id="inp" type="text" autocomplete="off" v-model="player_name" v-on:keyup.enter="onEnter">
                    <div style="height: 4vh;"></div>
                    <ol class="list-group list-group-numbered" style="text-align: left;">
                        <li class="list-group-item" :class="[item.arrColor]" v-for="item in registered" style="font-size: 25px;">
                            <span :class="[item.arrColor]" style="font-size: 25px;"><strong>{{item.name}}</strong></span>
                            <button type="button" class="btn btn-danger" style="float: right" v-if="item.confirm" v-on:click.prevent="remove_item(item)">刪除</button>
                            <button type="button" class="btn btn-success" style="float: right; margin-right: 10px;" v-if="item.confirm" v-on:click.prevent="confirm_item(item)">確認</button>
                            <button type="button" class="btn btn-secondary" style="float: right;" v-else v-on:click.prevent="confirm_item(item)">取消</button>
                        </li>
                    </ol>
                </div>
                <div class="col-4" style="text-align: center;">
                    <h2><strong>賽程表產生器</strong></h2>
                    <hr>
                    <h5 style="color: gray; text-align: left;">
                        <strong>
                            說明：<br>
                            左方輸入參賽者名稱，<br>
                            名字限制至多10個字元，<br>
                            參賽者至多<span style="color: red;">{{max_people}}</span>人，<br>
                            輸入完成後請確認所有參賽者皆完成報名，<br>
                            點擊「產生賽程表」自動生成賽程表。<br><br>
                            賽程表畫面點擊獲勝的參賽者可繼續晉級。<br>
                            綠色：已獲勝的參賽者。<br>
                            紅色：被淘汰的參賽者。<br>
                        </strong>
                    </h5>
                    <div style="height: 2rem"></div>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" v-on:click.prevent="submit"><strong>產生賽程表</strong></button>
                    <button type="button" class="btn btn-danger" style="margin-left: 10px;" v-on:click.prevent="remove_All()"><strong>全部刪除</strong></button>
                </div>
            </div>
        </div>

        <!-- 手機板版報名表 -->
        <div id="phone_version" class="container" v-show="register_is_display && phone_is_display">
            <div id="page1" v-show="phone_page1_is_display">
                <div style="height: 5vh;"></div>
                <div class="row" style="text-align: center;">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h2><strong>賽程表產生器</strong></h2>
                        <hr>
                        <h5 style="color: gray; text-align: left;">
                            <strong>
                                說明：<br>
                                下方選擇最大參賽人數，<br>
                                輸入參賽者名稱，<br>
                                名字限制至多10個字元，<br>
                                參賽者人數不可大於<span style="color: red;">{{max_people}}</span>人，<br>
                                輸入完成後請確認所有參賽者皆完成報名，<br>
                                點擊「產生賽程表」自動生成賽程表。<br><br>
                                賽程表畫面點擊獲勝的參賽者可繼續晉級。<br>
                                綠色：已獲勝的參賽者。<br>
                                紅色：被淘汰的參賽者。<br>
                            </strong>
                        </h5>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div style="height: 5vh;"></div>
                <div class="row" style="text-align: center;">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h2><strong>最大參賽人數</strong></h2>
                        <hr>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 80%;">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked v-on:click="change_people(2)">
                            <label class="btn btn-outline-secondary" for="btnradio1"><strong>2</strong></label>
                            
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" v-on:click="change_people(4)">
                            <label class="btn btn-outline-secondary" for="btnradio2"><strong>4</strong></label>
                            
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" v-on:click="change_people(8)">
                            <label class="btn btn-outline-secondary" for="btnradio3"><strong>8</strong></label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" v-on:click="change_people(16)">
                            <label class="btn btn-outline-secondary" for="btnradio4"><strong>16</strong></label>
                        </div>
                        <div style="height: 2rem;"></div>
                        <h2><strong>建議參賽人數</strong></h2>
                        <hr>
                        <h3 style="color: gray;">{{suggest_people}}</h3>

                        <div style="height: 2rem"></div>
                        <button type="button" class="btn btn-secondary" v-on:click.prevent="next_page()">繼續</button>
                        <div style="height: 10vh;"></div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            
            <div id="page2" v-show="phone_page2_is_display">
                <div style="height: 5vh;"></div>
                <div class="row" style="text-align: center;">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h1><strong>請輸入參賽者名稱</strong></h1>
                        <h6><span style="color: red;"><strong># 最大參賽人數：{{max_people}}人</strong></span></h6>
                        <div style="height: 2vh;"></div>
                        <input id="inp" class="phone_input" type="text" autocomplete="off" v-model="player_name" v-on:keyup.enter="onEnter">
                        <div style="height: 4vh;"></div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <ol class="list-group list-group-numbered" style="text-align: left;">
                            <li class="list-group-item" :class="[item.arrColor]" v-for="item in registered" style="font-size: 20px;">
                                <span :class="[item.arrColor]" style="font-size: 20px;"><strong>{{item.name}}</strong></span>
                                <button type="button" class="btn btn-danger phone_btn1" style="float: right" v-if="item.confirm" v-on:click.prevent="remove_item(item)">X</button>
                                <button type="button" class="btn btn-success phone_btn1" style="float: right; margin-right: 5px;" v-if="item.confirm" v-on:click.prevent="confirm_item(item)">O</button>
                                <button type="button" class="btn btn-secondary phone_btn2" style="float: right;" v-else v-on:click.prevent="confirm_item(item)">取消</button>
                            </li>
                        </ol>
                        
                        <div style="height: 2rem"></div>
                        <button type="button" class="btn btn-secondary" style="width: 5rem; margin-right: 6px;" v-on:click.prevent="back()">返回</button>
                        <button type="button" class="btn btn-danger" style="margin-right: 6px;margin-left: 6px;" v-on:click.prevent="remove_All()"><strong>全部刪除</strong></button>
                        <button type="button" class="btn btn-primary" style="margin-left: 6px;" v-on:click.prevent="submit()"><strong>產生賽程表</strong></button>
                        <div style="height: 10vh;"></div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

        <!-- 賽程表 -->
        <div class="container minsize" v-show="schedule_is_display">
            <div style="height: 2vh;" v-if="max_people == 16"></div>
            <div style="height: 10vh;" v-if="max_people == 8"></div>
            <div style="height: 20vh;" v-if="max_people == 4"></div>
            <div style="height: 30vh;" v-if="max_people == 2"></div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table class="table table-borderless">
                        <tr>
                            <td v-for="item in promotion4" colspan="16">
                                <div class="border2" :class="[item.status]" v-if="item.status == 0 && item.name != '' && item.name != '空'" style="cursor: pointer;">
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>

                                <div class="border2" :class="[item.status]" v-else>
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="max_people >= 2">
                            <td v-for="item in promotion3" colspan="8">
                                <div class="border1" :class="[item.status]" v-if="item.status == 0 && item.name != '' && item.name != '空'" style="cursor: pointer;" v-on:click="win(item)">
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>

                                <div class="border1" :class="[item.status]" v-else>
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="max_people >= 4">
                            <td v-for="item in promotion2" colspan="4">
                                <div class="border1" :class="[item.status]" v-if="item.status == 0 && item.name != '' && item.name != '空'" style="cursor: pointer;" v-on:click="win(item)">
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>

                                <div class="border1" :class="[item.status]" v-else>
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="max_people >= 8">
                            <td v-for="item in promotion1" colspan="2">
                                <div class="border1" :class="[item.status]" v-if="item.status == 0 && item.name != '' && item.name != '空'" style="cursor: pointer;" v-on:click="win(item)">
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>

                                <div class="border1" :class="[item.status]" v-else>
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="max_people == 16">
                            <td v-for="item in registered">
                                <div class="border1" :class="[item.status]" v-if="item.status == 0 && item.name != '' && item.name != '空'" style="cursor: pointer;" v-on:click="win(item)">
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>

                                <div class="border1" :class="[item.status]" v-else>
                                    <p class="content1"><strong>{{item.name}}</strong></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <button type="button" class="btn btn-secondary" style="width: 5rem" v-on:click.prevent="back()">返回</button>
                    <div style="height: 10vh;"></div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            player_name: '',
            registered: [],
            max_people: 2,
            suggest_people: '2',
            // status = 0:未比賽, 'bg-green':贏, 'bg-red':輸
            promotion1: [
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0}
            ],
            promotion2: [
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0},
                {name: '', status: 0}
            ],
            promotion3: [
                {name: '', status: 0},
                {name: '', status: 0}
            ],
            promotion4: [{name: '', status: 0}],
            register_is_display: true,
            schedule_is_display: false,
            computer_is_display: true,
            phone_is_display: false,
            phone_page1_is_display: true,
            phone_page2_is_display: false
        },
        methods: {
            change_people: function(num){
                this.max_people = num;

                if(this.max_people == 2){
                    this.suggest_people = '2';
                }
                else if(this.max_people == 4){
                    this.suggest_people = '3 ~ 4';
                }
                else if(this.max_people == 8){
                    this.suggest_people = '5 ~ 8';
                }
                else if(this.max_people == 16){
                    this.suggest_people = '9 ~ 16';
                }

                if(this.registered.length > this.max_people){
                    this.registered.splice(this.max_people, this.registered.length - this.max_people);
                }
            },
            
            onEnter: function(){
                if(this.player_name != ''){
                    if(this.registered.length == this.max_people){
                        alert("已達上限人數 "+this.max_people+" 人 !");
                        this.player_name = '';
                    }
                    else if (this.player_name.length > 10) {
                        alert("名字不可超過10個字元 !");
                        this.player_name = '';
                    }
                    else{
                        this.registered.push({name: this.player_name, arrColor: 'black', confirm: true, status: 0});
                        this.player_name = '';
                    }
                }
            },

            remove_item: function(item){
                this.registered.splice(this.registered.indexOf(item), 1);
            },

            remove_All: function(item){
                this.registered = [];
            },

            confirm_item: function(item){
                var index = this.registered.indexOf(item);
                this.registered[index].arrColor = this.registered[index].arrColor === 'black' ? 'green' : 'black';
                this.registered[index].confirm = this.registered[index].confirm === true ? false : true;
            },

            next_page: function(){
                this.phone_page1_is_display = false;
                this.phone_page2_is_display = true;
            },

            back:  function(item){
                location.reload();
            },

            promote: function(now, next){
                if(next.length == 1){
                    var last = true;
                }
                else{
                    var last = false;
                }
                // now -> next
                for(var i = 0; i < now.length; i++){
                    if(now[i].name == '空' & i % 2 == 0){
                        if(now[i+1].name == '空'){
                            now[i].status = 'bg-red';
                            now[i+1].status = 'bg-red';
                            next[Math.floor(i/2)].name = now[i+1].name;
                        }
                        else if(now[i+1].name != ''){
                            now[i].status = 'bg-red';
                            now[i+1].status = 'bg-green';
                            next[Math.floor(i/2)].name = now[i+1].name;
                            if(last){
                                next[Math.floor(i/2)].status = 'bg-yellow';
                            }
                        }
                        i++;
                    }
                    else if(now[i].name == '空' && i % 2 == 1){
                        if(now[i-1].name != ''){
                            now[i].status = 'bg-red';
                            now[i-1].status = 'bg-green';
                            next[Math.floor(i/2)].name = now[i-1].name;
                            if(last){
                                next[Math.floor(i/2)].status = 'bg-yellow';
                            }
                        }
                    }
                }
            },

            win: function(item){
                var index = this.promotion4.indexOf(item);
                var num = 4;
                if(index == -1){
                    index = this.promotion3.indexOf(item);
                    num = 3;
                }
                if(index == -1){
                    index = this.promotion2.indexOf(item);
                    num = 2;
                }
                if(index == -1){
                    index = this.promotion1.indexOf(item);
                    num = 1;
                }
                if(index == -1){
                    index = this.registered.indexOf(item);
                    num = 0;
                }
                
                var check = 0;
                if(num == 3){
                    // 左邊被點擊
                    if(index % 2 == 0){
                        if(this.promotion3[index+1].name != ''){
                            check = 1;
                        }
                    }
                    // 右邊被點擊
                    else{
                        if(this.promotion3[index-1].name != ''){
                            check = 1;
                        }
                    }
                }
                else if(num == 2){
                    // 左邊被點擊
                    if(index % 2 == 0){
                        if(this.promotion2[index+1].name != ''){
                            check = 1;
                        }
                    }
                    // 右邊被點擊
                    else{
                        if(this.promotion2[index-1].name != ''){
                            check = 1;
                        }
                    }
                }
                else if(num == 1){
                    // 左邊被點擊
                    if(index % 2 == 0){
                        if(this.promotion1[index+1].name != ''){
                            check = 1;
                        }
                    }
                    // 右邊被點擊
                    else{
                        if(this.promotion1[index-1].name != ''){
                            check = 1;
                        }
                    }
                }
                else if(num == 0){
                    check = 1;
                }
                
                if(check){
                    var win = confirm("確定是"+item.name+"贏得比賽嗎？");
                }
                else{
                    var win = false;
                }
                
                if(win){
                    if(num == 3){
                        // 左邊勝利
                        if(index % 2 == 0){
                            this.promotion3[index].status = 'bg-green';
                            this.promotion3[index+1].status = 'bg-red';
                        }
                        // 右邊勝利
                        else{
                            this.promotion3[index].status = 'bg-green';
                            this.promotion3[index-1].status = 'bg-red';
                        }
                        
                        this.promotion4[Math.floor(index/2)].name = this.promotion3[index].name;
                        this.promotion4[Math.floor(index/2)].status = 'bg-yellow';
                    }
                    else if(num == 2){
                        // 左邊勝利
                        if(index % 2 == 0){
                            this.promotion2[index].status = 'bg-green';
                            this.promotion2[index+1].status = 'bg-red';
                        }
                        // 右邊勝利
                        else{
                            this.promotion2[index].status = 'bg-green';
                            this.promotion2[index-1].status = 'bg-red';
                        }
                        
                        this.promotion3[Math.floor(index/2)].name = this.promotion2[index].name;

                        /* 若為空則自動晉級 */
                        this.promote(this.promotion3, this.promotion4);
                    }
                    else if(num == 1){
                        // 左邊勝利
                        if(index % 2 == 0){
                            this.promotion1[index].status = 'bg-green';
                            this.promotion1[index+1].status = 'bg-red';
                        }
                        // 右邊勝利
                        else{
                            this.promotion1[index].status = 'bg-green';
                            this.promotion1[index-1].status = 'bg-red';
                        }
                        
                        this.promotion2[Math.floor(index/2)].name = this.promotion1[index].name;

                        /* 若為空則自動晉級 */
                        this.promote(this.promotion2, this.promotion3);
                        this.promote(this.promotion3, this.promotion4);
                    }
                    else if(num == 0){
                        // 左邊勝利
                        if(index % 2 == 0){
                            this.registered[index].status = 'bg-green';
                            this.registered[index+1].status = 'bg-red';
                        }
                        // 右邊勝利
                        else{
                            this.registered[index].status = 'bg-green';
                            this.registered[index-1].status = 'bg-red';
                        }
                        
                        this.promotion1[Math.floor(index/2)].name = this.registered[index].name;

                        /* 若為空則自動晉級 */
                        this.promote(this.promotion1, this.promotion2);
                        this.promote(this.promotion2, this.promotion3);
                        this.promote(this.promotion3, this.promotion4);
                    }
                }
            },

            submit: function(){
                var check_confirm = 1;
                for(var i = 0; i < this.registered.length; i++){
                    if(this.registered[i].confirm == true){
                        check_confirm = 0;
                        break;
                    }
                }

                if(this.registered.length <= 1){
                    alert("請輸入2位以上的參賽者 !");
                }
                else if(check_confirm){
                    /* 顯示賽程表 */
                    this.register_is_display = false;
                    this.schedule_is_display = true;

                    /* 補足16人 */
                    while(this.registered.length < this.max_people){
                        this.registered.push({name: '空', arrColor: 'green', confirm: false, status: 0});
                    }

                    /* 隨機排序 */
                    this.registered.sort(function() {
                        return (0.5-Math.random());
                    });

                    /* 若為空則自動晉級 */
                    if(this.max_people == 16){
                        // registered -> promotion1
                        this.promote(this.registered, this.promotion1);
                        // promotion1 -> promotion2
                        this.promote(this.promotion1, this.promotion2);
                        // promotion2 -> promotion3
                        this.promote(this.promotion2, this.promotion3);
                        // promotion3 -> promotion4
                        this.promote(this.promotion3, this.promotion4);
                    }
                    else if(this.max_people == 8){
                        for(var i = 0; i < this.promotion1.length; i++){
                            this.promotion1[i].name = this.registered[i].name;
                        }
                        // promotion1 -> promotion2
                        this.promote(this.promotion1, this.promotion2);
                        // promotion2 -> promotion3
                        this.promote(this.promotion2, this.promotion3);
                        // promotion3 -> promotion4
                        this.promote(this.promotion3, this.promotion4);
                    }
                    else if(this.max_people == 4){
                        for(var i = 0; i < this.promotion2.length; i++){
                            this.promotion2[i].name = this.registered[i].name;
                        }
                        // promotion2 -> promotion3
                        this.promote(this.promotion2, this.promotion3);
                        // promotion3 -> promotion4
                        this.promote(this.promotion3, this.promotion4);
                    }
                    else if(this.max_people == 2){
                        for(var i = 0; i < this.promotion3.length; i++){
                            this.promotion3[i].name = this.registered[i].name;
                        }
                        // promotion3 -> promotion4
                        this.promote(this.promotion3, this.promotion4);
                    }
                }
                else{
                    alert("還有參賽者尚未確認喔 ！");
                }
            }
        },
        mounted(){
            setInterval(() => {
                var mobile_flag = isMobile(); // true爲PC端，false爲手機端
                if(mobile_flag){
                    this.computer_is_display = false;
                    this.phone_is_display = true;
                }
                else{
                    this.computer_is_display = true;
                    this.phone_is_display = false;
                }
            }, 100)
        },
    });

    function isMobile() {
        var userAgentInfo = navigator.userAgent;

        var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

        var mobile_flag = false;

        //根據userAgent判斷是否是手機
        for (var v = 0; v < mobileAgents.length; v++) {
            if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
                mobile_flag = true;
                break;
            }
        }

        var screen_width = window.screen.width;
        var screen_height = window.screen.height;    

        //根據屏幕分辨率判斷是否是手機
        if(screen_width < 500 && screen_height < 800){
            mobile_flag = true;
        }

        return mobile_flag;
    }
</script>